{% extends 'base.html.twig' %}

{% block title %}Devis
{% endblock %}

{% block content %}

	<div class="bloc">
		<h1>Devis</h1>

		<div class="formulaire">
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ devi.id }}</td>
					</tr>
					<tr>
						<th>Date</th>
						<td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
					</tr>
					<tr>
						<th>Hauteur</th>
						<td>{{ devi.hauteur }}</td>
					</tr>
					<tr>
						<th>Longueur</th>
						<td>{{ devi.longueur }}</td>
					</tr>
				</tbody>
			</table>


			<a class="bouton_formulaire" href="{{ path('app_haie_crud_edit', {'code': devi.id}) }}">Modifier</a>

			{{ include('devis_crud/_delete_form.html.twig') }}

		</div>

		<a class="bouton_validation" style="position: absolute; margin-top:100px;" href="{{ path('app_devis_crud_index') }}">Retour vers la liste</a>

	</div>


</div>{% endblock %}
