{% extends 'base.html.twig' %}

{% block title %}Haie
{% endblock %}

{% block content %}

	<div class="bloc">


		<h1>Information sur votre haie</h1>
		<div class="formulaire">
			<table class="table">
				<tbody>
					<tr>
						<th>Code</th>
						<td>{{ haie.code }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ haie.nom }}</td>
					</tr>
					<tr>
						<th>Prix</th>
						<td>{{ haie.prix }}</td>
					</tr>
				</tbody>
			</table>
			<br>


			<a class="bouton_formulaire" href="{{ path('app_haie_crud_edit', {'code': haie.code}) }}">Modifier</a>
			{{ include('haie_crud/_delete_form.html.twig') }}
		</div>
		<a class="bouton_validation" style="position: absolute; margin-top:175px;" href="{{ path('app_haie_crud_index') }}">Retour vers la liste</a>
	</div>
{% endblock %}
